# Ignore all audio files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.m4a
*.wma

# Ignore all video files
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.m4v
*.mpg
*.mpeg
*.3gp



*.env

keys.env

/media
*.wav
*.mp3
*.mp4
*.avi
*.txt
*.json
*.srt
*.vtt



